.backButton{
	border: none;
	outline: none;
	padding: 12px 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, .25);
	position: fixed;
	left: 5%;
	top: calc(5% - 10px);
	z-index: 2;
	background-color: #E5E5E7;
	border: 2px solid #fff;
	cursor: pointer;
	border-radius: 0;
	outline: none;
}

.backButton:hover{
	background-color: #443579;
	outline: none;
	transition: all 1s;
}

.backButton::after{
	display: none;
}