.bullet {
	border: none;
	outline: none;
	padding: 12px 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
	position: fixed;
	z-index: 2;
	background-color: #e5e5e7;
	border: 2px solid #fff;
	cursor: pointer;
	border-radius: 0;
	height: 25px;
	width: 25px;
	animation: parpadeo 2s;
	-webkit-animation: parpadeo 2s;
	-moz-animation: parpadeo 2s;
	animation-iteration-count:infinite;
	-webkit-animation-iteration-count:infinite;
	-moz-animation-iteration-count:infinite;
}

.bullet:hover {
	background-color: #443579;
	transition: all 1s;
	transform: scale(1.5);
}

@keyframes parpadeo {
	0% {background-color: white}
	100%{background-color: #443579}
}
	
@-webkit-keyframes parpadeo {
	0% {background-color: white}
	100%{background-color: #443579}
}
