.btns {
	background-color: #E5E5E7;
	width: 10%;
	padding-top: 8px;
	padding-bottom: 8px;
	border: none;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Medium';
	margin-left: 10px;
	margin-right: 10px;
	outline: none;
	cursor: pointer;
}

.btns:hover{
	background-color: #443579;
	color: #fff;
}

.btns:focus{
	outline: none;
}

.container-buttons {
	margin-top: 2%;
	width: 100%; 
	display: flex; 
	flex-direction: row; 
	justify-content: center;
}