.btnModel {
	background-color: #E5E5E7;
	width: 70%;
	padding: 10px 40px;
	padding-top: 8px;
	padding-bottom: 8px;
	border: none;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Medium';
	margin-left: 10px;
	margin-right: 10px;
	outline: none;
	cursor: pointer;
	color: #443579;
	margin-top: 2%;
	margin-bottom: 2%;
	color: #000;
}

.btnModel:hover{
	background-color: #443579;
	color: #fff;
}

.btnModel:focus {
	outline: none;
	border: none;
}