@font-face {
    font-family: 'Light';
    src: url('./../../fonts/Montserrat-Light.otf');
}

@font-face {
    font-family: 'Medium';
    src: url('./../../fonts/Montserrat-Medium.otf');
}

@font-face {
    font-family: 'Bold';
    src: url('./../../fonts/Montserrat-SemiBold.otf');
}

#card{
    border: none;
    cursor: pointer;
}

#cntHeader {
    height: 10vh; 
    display: flex; 
    flex-direction: row;
    justify-content: center; 
    align-items: flex-end;
}

#title {
    font-family: 'Light';
    text-transform: uppercase;
    color: #443579;
    font-size: 30px;
}

#title2{
    font-family: 'Medium';
}

#subTitle {
    font-family: 'Light';
    font-size: 16px;
}