.carousel-indicators .glider-dot {
	display: block;
	width: 15px;
	height: 15px;
	background: #E5E5E7;
	opacity: 1;
	border-radius: 0;
	margin-left: .6%;
	margin-right: .6%;
	outline: none;
}

.carousel-indicators .glider-dot:hover {
	opacity: 0.5;
}

.carousel-indicators .glider-dot.active {
	opacity: 1;
	background-color: #443579;
	transform: scale(1.3);
	outline: none;
}

.imgCarousel {
	width: 100vw;
	height: 80vh;
}

.carousel-element {
	width: 25%;
	min-width: 230px;
	position: relative;
	min-height: 1px;
}

figure {
	display: inline-block;
	position: relative;
	margin: 0;
}

figcaption {
	position: absolute;
	bottom: 0;
	height: 10px;
	margin-left: 49%;
	width: 2%;
	background-color: #443579;
	color: white;
	padding: 4px;
}


.carousel-indicators {
	margin-top: 2%;
	position: relative;
}

