.left2-cocinas360{
    background-image: url('./../../images/cocina360.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 100vh;
}

.titleCocina360{
    color: #443579;
    font-family: 'Bold'; 
    text-transform: uppercase; 
    font-size: 40px; 
    text-align: right; 
    display: block;
}

.subTitleCocina{
    color: #443579;
    font-family: 'Light'; 
    text-transform: uppercase; 
    font-size: 25px; 
    text-align: right; 
    display: block;
}

.title2{
    margin-top: 10%;
    font-family: 'Medium';
    font-size: 20px;
    text-transform: uppercase;
    color: #443579;
    display: block;
    text-align: right;
}

.description {
    margin-top: 5%;
    font-family: 'Light';
    text-align: justify;
    text-align-last: right;
    font-size: 18px;
    line-height: 2;
}

.containerTitleCocina {
    background-color: #E5E5E7; 
    margin-top: 20%; 
    padding-top: 5%; 
    padding-bottom: 5%;
}