@font-face {
    font-family: 'Light';
    src: url('./../../fonts/Montserrat-Light.otf');
}

@font-face {
    font-family: 'Medium';
    src: url('./../../fonts/Montserrat-Medium.otf');
}

@font-face {
    font-family: 'Bold';
    src: url('./../../fonts/Montserrat-SemiBold.otf');
}

.containerTitle{
    background-color: #E5E5E7;
    padding: 2%;
    z-index: 1;
    flex-direction: row;
    justify-content: center;
}

.containerTitle::before{
    content : "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    top: 98%;
    margin-left: 47%;
    width: 6%;
    border-bottom: 6px solid #443579;
}

h1{
    color: #443579;
    text-transform: uppercase;
    font-size: 54px;
    font-family: 'Medium';
}

h5{
    color: #99a4ac;
    text-transform: uppercase;
    font-size: 24px;
    font-family: 'Light';
}