@font-face {
    font-family: 'Light';
    src: url('./../../fonts/Montserrat-Light.otf');
}

@font-face {
    font-family: 'Medium';
    src: url('./../../fonts/Montserrat-Medium.otf');
}

@font-face {
    font-family: 'Bold';
    src: url('./../../fonts/Montserrat-SemiBold.otf');
}

.containerTitle{
    background-color: #443579;
    padding: 2%;
    z-index: 1;
    flex-direction: row;
    justify-content: center;
}

h1{
    color: #fff;
    text-transform: uppercase;
    font-size: 54px;
    font-family: 'Medium';
}