.left2{
    background-image: url('./../../images/pilares2.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 100vh;
}

.title{
    font-family: 'Light';
    font-size: 40px;
    text-transform: uppercase;
    margin-top: 15%;
    color: #443579;
}

.titleBold{
    font-family: 'Bold';
}

.title2{
    margin-top: 10%;
    font-family: 'Medium';
    font-size: 20px;
    text-transform: uppercase;
    color: #443579;
    display: block;
    text-align: right;
}

.description {
    margin-top: 5%;
    font-family: 'Light';
    text-align: justify;
    text-align-last: right;
    font-size: 18px;
    line-height: 2;
}