#dropdown-basic-button{
	border: none;
	outline: none;
	padding: 12px 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, .25);
	position: fixed;
	left: 5%;
	top: calc(45% - 10px);
	z-index: 2;
	background-color: #E5E5E7;
	border: 2px solid #fff;
	cursor: pointer;
	border-radius: 0;
}

#dropdown-basic-button:focus {
	background-color: #443579;
}

#dropdown-basic-button:hover{
	background-color: #443579;
	transition: all 1s;
}

#dropdown-basic-button::after{
	display: none;
}

#item{
	text-transform: uppercase;
	color: #443579;
	font-family: 'Light';
}

#item:hover{
	background-color: #E5E5E7;
	transform: scale(1.1);
	font-family: 'Bold';
}

.dropdown-menu.show{
	z-index: 1;
	margin-left: -20px;
	margin-top: -20px;
	padding: 40px;
	border-radius: 0;
	border: none;
	background-color: #E5E5E7;
}