.containerCursor::before{
	content: "";
    position: absolute;
    right: -12px;
    bottom: -12px;
    height: 30%;
    width: 7px;
	background: #E5E5E7;
	cursor: pointer;
}

.containerCursor::after{
	content: "";
    position: absolute;
    right: -5px;
    bottom: -12px;
    height: 7px;
    width: 20%;
	background: #E5E5E7;
	cursor: pointer;
}

.containerTitleMasterPlan{
    background-color: #E5E5E7; 
    border-top: 20px solid #fff; 
    border-bottom: 20px solid #fff;
}

.containerCursor{
    background-color: #443579;
    border-right: 5px solid transparent;
	border-bottom: 5px solid transparent;
}