.containerTooltip{ 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    width: 20%; 
    margin: auto; 
    position: fixed;
}

.containerImageTooltip {
    min-height: 20%; 
    display: flex; 
    flex-direction: row; 
    justify-content: center; 
    align-items: center; 
    margin-left: 10%; 
    position: relative; 
    z-index: 1;
}

.imageTooltip {
    margin: 5% 2%; 
    border: 5px solid white;
}

.containerTooltipText{
    background-color: white; 
    min-height: 10vh; 
    width: 100%; 
    display: flex; 
    flex-direction: row; 
    justify-content: flex-start; 
    align-items: flex-start; 
    margin-right: 10%; 
    position: relative; 
    margin-top: -15%; 
    font-family: 'Light';
    font-size: 14px;
    text-align: justify;
    padding: 2%;
}

.textTooltip {
    margin-top: 15%; 
    margin-left: 2%; 
    margin-right: 2%;
}