@font-face {
    font-family: 'Medium';
    src: url('./../../fonts/Montserrat-Medium.otf');
}

#square2{
    z-index: 0;
    position: relative;
    cursor: pointer;
}

#square2::before{
    content : "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 6px;
    top: 0;
    margin-left: 45%;
    width: 10%;
    border-bottom: 6px solid #fff;
    z-index: 1;
}

#left{
    background-color: #E5E5E7;
    height: 17vh;
}

#right{
    background-color: #d8d8d8; 
    height: 17vh;
}

#square2:hover  #left {
    background-color: purple;
}

#square2:hover #right {
    background-color: #443579;
}

#square2:hover h1{
    color: #fff;
}

#cntTitle {
    position: absolute;
    height: 17vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: -1px;
}

#square2:hover .btnModel{
    background-color: #443579;
    color: #fff;
}

#square{
    cursor: pointer;
}

#square::before{
    content : "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 6px;
    top: 0;
    margin-left: 45%;
    width: 10%;
    border-bottom: 6px solid #fff;
    z-index: 1;
}

#cnt {
    background-color: #E5E5E7;
    height: 17vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#cntText {
    align-items: baseline;
}

#meters{
    font-size: 100px;
    color: #2E2E2E;
    vertical-align: bottom;
}

#m{
    font-size: 40px;
    vertical-align: bottom;
}

#square:hover .btnModel{
    background-color: #443579;
    color: #fff;
}

#square:hover  #cnt {
    background-color: #443579;
}

#square:hover h1{
    color: #fff;
}

#square:hover #m{
    color: #fff;
}

.btnModels {
    margin-top: 5%;
}