.btnModeloCasa {
	background-color: #E5E5E7;
	width: 50%;
	padding-top: 8px;
	padding-bottom: 8px;
	border: none;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Medium';
	margin-left: 10px;
	margin-right: 10px;
	outline: none;
    cursor: pointer;
	margin-top: 5%;
}

.btnModeloCasa:hover{
	background-color: #443579;
	color: #fff;
}

#imgModeloCasa {
    border: none;
    outline: none;
	cursor: pointer;
	width: 100%;
	border-left: 5px solid transparent;
	border-top: 5px solid transparent;
}

#imgModeloCasa:hover::before {
	content: "";
    position: absolute;
    left: 0;
    top: 10;
    height: 50%;
    width: 10px;
	background: #443579;
	/* transition: all 1s; */
	cursor: pointer;
}

#imgModeloCasa:hover::after{
	content: "";
    position: absolute;
    left: 0;
    top: 10;
    height: 10px;
    width: 65%;
	background: #443579;
	/* transition: all 1s; */
	cursor: pointer;
}

#imgModeloCasa::before{
	content: "";
    position: absolute;
    left: 0;
    top: 10;
    height: 50%;
    width: 10px;
	background: #E5E5E7;
	cursor: pointer;
}

#imgModeloCasa::after{
	content: "";
    position: absolute;
    left: 0;
    top: 10;
    height: 10px;
    width: 65%;
	background: #E5E5E7;
	cursor: pointer;
}

.label {
	background-color: #E5E5E7; 
	margin-bottom: -5%; 
	z-index: 1; 
	height: 30px;
}

