body{
    overflow: hidden;
}

.containerTitlePlanta {
    background-color: #E5E5E7;
    padding-top: 3%;
    padding-bottom: 3%;
}

.titlePlanta {
    text-align: center; 
    display: block; 
    font-size: 40px; 
    font-family: Bold; 
    text-transform: uppercase; 
}

.subTitlePlanta {
    text-transform: uppercase; 
    font-size: 20px; 
    font-family: Bold;
}

.containerEspecificaciones{
    border-left: 1px solid #443579;
}

.containerEspecificaciones::before{
    content : "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 0;
    top: calc(60% - 50px);
    margin-left: 4.5%;
    width: 6px;
    border-bottom: 50px solid #443579;
}

.titleEspecificacion{
    font-family: 'Medium';
    font-size: 14px;
}

.especificacionPlanta {
    text-align: justify; 
    font-family: 'Light'; 
    line-height: 2;
    font-size: 14px;
}