.containerImage {
    height: 70vh;
    width: 100vw;
    margin-top: -5vh;
    z-index: 0;
    position:absolute;
}

.imgLogo{
    width: 100%;
    height: auto;
    margin-top: 70vh;
}
.block {
    background: #fff;
    border-radius: 8px;
    cursor: pointer;
    height: 200px;
    width: 200px;
    color: #333;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  
.imgPortada{
    width: 101vw;
    margin-left: -1vw;
    position:absolute;
    -webkit-animation-name: fade;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 6s;
    animation-name: fade;
    animation-iteration-count: infinite;
    animation-duration: 6s;
}

@-webkit-keyframes fade {
    0% {opacity: 0;}
    20% {opacity: 1;}
    33% {opacity: 1;}
    53% {opacity: 0;}
    100% {opacity: 0;}
}
@keyframes fade {
    0% {opacity: 0;}
    20% {opacity: 1;}
    33% {opacity: 1;}
    53% {opacity: 0;}
    100% {opacity: 0;}
}

#f1 {
    background-color: white;
}
#f2 {
    -webkit-animation-delay: -2s;
    background-color: white;
}
#f3 {
    -webkit-animation-delay: -4s;
    background-color: white;
}