.titleUbicacion{
    color: #443579;
    font-family: 'Light'; 
    text-transform: uppercase; 
    font-size: 40px; 
    text-align: right; 
    display: block;
}

.titleBoldUbicacion{
    color: #443579;
    font-family: 'Bold'; 
    text-transform: uppercase; 
    font-size: 40px; 
    text-align: right; 
    display: block;
}

.title2{
    margin-top: 10%;
    font-family: 'Medium';
    font-size: 20px;
    text-transform: uppercase;
    color: #443579;
    display: block;
    text-align: right;
}

.descriptionUbicacion {
    margin-top: 5%;
    font-family: 'Light';
    text-align: justify;
    text-align-last: left;
    font-size: 18px;
    line-height: 2;
}

.containerTitleCocina {
    background-color: #E5E5E7; 
    margin-top: 20%; 
    padding-top: 5%; 
    padding-bottom: 5%;
}

.container-buttons {
	width: 100%; 
	display: flex; 
	flex-direction: row; 
	justify-content: center;
}

.containerServicios{
    display: flex; 
    flex-direction: column; 
    border-left: 1px solid #443579;
}

.containerServicios::before{
    content : "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 0;
    top: calc(65% - 50px);
    margin-left: -3px;
    width: 6px;
    border-bottom: 50px solid #443579;
}

.containerServices{
    background-image: url('./../../images/map/map.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 65vh;
    min-height: 65vh;
}

.imgServicios {
    width: 100%;
    height: auto;
}