.left{
    background-image: url('./../../images/pilares1.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 100vh;
}

.title{
    font-family: 'Light';
    font-size: 40px;
    text-transform: uppercase;
    margin-top: 15%;
    color: #443579;
}

.titleBold{
    font-family: 'Bold';
}

.title2-1{
    margin-top: 15%;
    text-align: end;
    display: block;
    font-family: 'Medium';
    font-size: 20px;
    text-transform: uppercase;
    color: #443579;
}

.description {
    margin-top: 5%;
    font-family: 'Light';
    text-align: justify;
    text-align-last: right;
    font-size: 18px;
    line-height: 2;
}

.points > span {
    font-family: 'Light';
    font-size: 18px;
    margin-left: 20px;
    vertical-align: text-bottom;
}

.points {
    margin-top: 30px;
    list-style: none;
}

li::marker{
    content:"\25A0" ;
    font-size: 30px;
    color: #443579;
}